.App {
  text-align: center;
  height: 100vh;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  font-family: "Dosis", sans-serif;
  /* font-family:'Nunito', sans-serif; */
}
.Router{
  margin:0;
  padding:0;

}
.App-logo {
  height: 80px;
  cursor: pointer;
}
.App-logo:hover{ animation: App-logo-spin infinite 1s linear;
}

.App-header, .App-header-theme1, .App-header-theme2, .App-header-theme3, .App-header-theme4, .App-header-theme5 {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1.5;
  position: sticky;
  transition: flex 0.1s;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../Assets/img/Default-Theme.png');
}
.App-header-close, .App-header-close-theme1, .App-header-close-theme2, .App-header-close-theme3, .App-header-close-theme4, .App-header-close-theme5 {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0.1;
  position: sticky;
  transition: flex 1s;
  background-image: url('../Assets/img/Default-Theme.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.App-header-close a:hover, .App-header a:hover, 
.App-header-close-theme1 a:hover, .App-header-theme1 a:hover,
.App-header-close-theme2 a:hover, .App-header-theme2 a:hover,
.App-header-close-theme3 a:hover, .App-header-theme3 a:hover,
.App-header-close-theme4 a:hover, .App-header-theme4 a:hover,
.App-header-close-theme5 a:hover, .App-header-theme5 a:hover{ color: white;
}
.App-title { font-size: 1.5em;
}

.App-intro, .App-intro-theme1, .App-intro-theme2, .App-intro-theme3, .App-intro-theme4, .App-intro-theme5 {
  background-image: url('../Assets/img/Default-Theme.png');
  font-size: large;
  flex: 8.5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.App-intro-theme1, .App-header-theme1, .App-header-close-theme1{ background-image: url('../Assets/img/Theme-One.png');
}
.App-intro-theme2, .App-header-theme2, .App-header-close-theme2{ background-image: url('../Assets/img/Theme-Two.png');
}
.App-intro-theme3, .App-header-theme3, .App-header-close-theme3{ background-image: url('../Assets/img/Theme-Three.png');
}
.App-intro-theme4, .App-header-theme4, .App-header-close-theme4{ background-image: url('../Assets/img/Theme-Four.png');
}
.App-intro-theme5, .App-header-theme5, .App-header-close-theme5{ background-image: url('../Assets/img/Theme-Five.png');
}
summary{ outline: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* size */
::-webkit-scrollbar { width: 10px; height: 2.5%;
}
/* Track */
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.200); 
}
/* Handle */
::-webkit-scrollbar-thumb { 
  box-shadow: inset 0 0 6px #fff; 
  border-radius: 10px 0px 0px 10px;
  background-color: #00aeef; 
}
::-webkit-scrollbar-thumb:horizontal { 
  border-radius: 10px 10px 0px 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background-color: #008fc5; 
}
@media all and (max-height: 388px){
  #Header{ flex: 0.1;
  }
  #Header a{ display: none;
  }
}

/* App.jsx */
.pageOpt{
  text-decoration: none;
  margin: 4px 0;
  padding: 4px;
  transition: background-color 0.5s;
}
.active{
  background-color: rgba(255, 255, 255, 0.315);
  font-weight: bold;
}
.pageOpt:hover{
  background-color: rgba(255, 255, 255, 0.315);
  cursor: pointer;
  box-shadow: 0 0 5px #fff;
}
.App-header a, .App-header-theme1 a, .App-header-theme2 a, .App-header-theme3 a, .App-header-theme4 a, .App-header-theme5 a{
  margin-left: 4px;
}
.App-header-close a, .App-header-close-theme1 a, .App-header-close-theme2 a, .App-header-close-theme3 a, .App-header-close-theme4 a, .App-header-close-theme5 a{
  margin: 0;
}
/* Home.jsx */
.goal{
  display: flex;
  flex-direction: row;
  min-height: 50px;
}
.goal, .btn1, .likeBTN, .delBTN{  
  background-color: rgba(255, 255, 255, 0.062);
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  margin: 2px 0;
  transition: background-color 0.5s;
  text-align: center;
  border: 0;
  padding: 5px 5px;
  outline: none;
}
.btn1, .delBTN{
  transition: font-size 0.2s; display: block;
}
.goal:hover, .btn1:hover, .likeBTN:hover, .delBTN:hover{
  background-color: rgba(255, 255, 255, 0.315);
  cursor: pointer;
  box-shadow: 0 0 5px #fff;
}
.btn1:hover, .delBTN:hover{
  background-color: rgba(0, 143, 197, 0.315);
  box-shadow: 0 0 5px #008fc5;
  font-size: 14pt;
}
.delBTN{ background-color: rgba(197, 0, 0, 0.267); }
.fa-user-times, .fa-trash { margin: 0 5px; }
.delBTN:hover{
  background-color: rgba(197, 0, 0, 0.445);
  box-shadow: 0 0 5px #c50000;
}
#goalList{
  flex: 8;
  overflow-y: auto;
  overflow-x: hidden;
}
#dashboard{ flex: 2;
}
#dashImg{
  border: 2px solid #00aeef;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom center;
  background-size: auto, 3em;
}
#dashImg:hover{ box-shadow: 0 0 10px #008fc5;
}
@media all and (max-width: 575px){
  #dashImg{ min-height: 30%;
  }
  #goalList{ flex: 6;
  }
  #dashboard{ flex: 4;
  }
  .btn1{ min-height: 15px;
  }
  .btn1:hover{ font-size: 10pt;
  }
  #Header{
    flex: 0.1;
  }
  #Header a{
    display: none;
  }
}
/* Account.jsx */
.themeDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.theme{
  text-align: center;
  font-weight: bolder;
  /* font-size: 20pt; */
  margin: 5px;
  padding: 5px;
  max-height: 20%;
  max-width: 22%;
  background-repeat: no-repeat;
}
.theme:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #000;
}
@media all and (max-width: 575px){
  .themeDiv{
    
  }
}

/* Header */
#Header li a { color: #fff; }

@media all and (max-width: 575px){
  
}
/* PostItem & Post*/
.feedPage, .post{
  flex: 10;
  min-height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Assets/img/Theme-Two.png');
}
.post{
  padding: 1%;
  min-height: 100vh;
}
.feedPage .btn1, .post .btn1{
  color: white;
}
.card{
  margin: 2px 5%;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 5px;
}