.calendar-container{
    flex: 9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.calendar{
    display: flex;
    flex-direction: column;
}
#month{
    background-color: rgba(0, 0, 0, 0.445);
    padding: 10px 0px;
    text-align: center;
}
#month #prev {
    float: left;
    padding-top: 30px;
    padding-left: 20px; 
    cursor: pointer;   
}
#month #next {
    float: right;
    padding-top: 30px;
    padding-right: 20px;
    cursor: pointer;    
}
#the-month, #the-year{ color: #fff;
}
.table { 
    padding: 0;
    display: flex;
    flex-direction: column;
}
.table tr{ 
    justify-self: center;
    align-self: center;
    overflow-x: auto;
}
.table tr:hover { background-color: inherit; 
}
#days{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto repeat(6, auto);
}
.day, unresolved{
    background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid #000;
}
.day:hover{ opacity: 0.8; cursor: pointer;
}
.complete{ background-color: rgba(0, 255, 0, 0.788);
}
.incomplete{ background-color: rgba(255, 0, 0, 0.609);
}
.inactive{ background-color: #000; color: #fff;
}
.inactive:hover{ opacity: 1; cursor: not-allowed; }
.today{ 
    background-image: url('../logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    font-weight: bolder;
}
/* -------------------------------------------------------------------- */
.detail-container{
    display: none;
    background-color: rgba(255, 255, 255, 0.507);
}
.details{
    
}
.detailImg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 5% 0;
}
.yes-no-container{
    
}
.green:hover{
    background-color: rgba(0, 255, 0, 0.315);
    box-shadow: 0 0 5px #0f0;
    font-size: 10pt;
}
.red:hover{
    background-color: rgba(255, 0, 0, 0.315);
    box-shadow: 0 0 5px #f00;
    font-size: 10pt;
}
@media all and (max-width: 500px){
    .detailImg{
        padding: 8% 0;
    }
    .detail-container{
        overflow: auto;
    }
}
.display-block{
    display: block;
}