.calendar-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.calendar{
  display: flex;
  flex-direction: column;
}
#month{
  background-color: rgba(0, 0, 0, 0.445);
  padding: 10px 0px;
  text-align: center;
}
#month #prev {
  float: left;
  padding-top: 30px;
  padding-left: 20px; 
  cursor: pointer;
  color: #fff;   
}
#month #next {
  float: right;
  padding-top: 30px;
  padding-right: 20px;
  cursor: pointer;
  color: #fff;    
}
#the-month, #the-year{ color: #fff;
}
.table { 
  padding: 0;
  display: flex;
  flex-direction: column;
}
.table tr{ 
  justify-self: center;
  align-self: center;
  overflow-x: auto;
}
.table tr:hover { background-color: inherit; 
}
#days{
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto repeat(6, auto);
}
.day{
  background-color: rgba(255, 255, 255, 0.322);
  border: 1px solid #000;
}
.unresolved{ background-color: rgba(119, 93, 83, 0.555); color: #fff;
}
.day:hover{ opacity: 0.8; 
}
.complete{ background-color: rgba(0, 255, 0, 0.788); color: #fff;
}
.incomplete{ background-color: rgba(255, 0, 0, 0.609); color: #fff;
}
.inactive{ background-color: #000; color: #fff;
}
.inactive:hover{ opacity: 0.6; cursor: not-allowed; }
.undefined-today{
    background: rgba(255, 255, 255, 0.322) url('../logo.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25%;
    font-weight: 900;
}
.unresolved-today{ 
    background: rgba(119, 93, 83, 0.555) url('../logo.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25%;
    font-weight: 900;
    color: #fff;
}
.complete-today{ 
    background: rgba(0, 255, 0, 0.788) url('../logo.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25%;
    font-weight: 900;
    color: #fff;
}
.incomplete-today{ 
    background: rgba(255, 0, 0, 0.609) url('../logo.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 25%;
    font-weight: 900;
    color: #fff;
}
.unresolved:hover, .unresolved-today:hover,
 .complete:hover, .complete-today:hover,
 .incomplete:hover, .incomplete-today:hover{ cursor: pointer;
}

.item{
  background-repeat: no-repeat;
  background-position: center;
  min-width: 15px;
  min-height: 15px;
  background-size: cover;
  float: right;
}