.cgForm label{
  margin-top: 1.5%;
  font-weight: bolder;
}
.cgForm input[type=date]{
  border: 0;
  text-align: center;
  min-height: 30px;
  min-width: 50%;
  border-radius: 50px;
  margin: 0 5%;
  outline: none;
  justify-self: center;
  align-self: center;
}
.cgForm input[type=text]{
  border: 0;
  text-align: center;
  min-height: 30px;
  border-radius: 50px;
  margin: 0 5%;
  color: #fff;
  outline: none;
}
.hint{ 
  margin-left: 5px;
  transition: color 0.8s;
}
.hint:hover{ 
  opacity: 0.6;
  color: #fff;
  /* color: #00aeef; */
}
.checkboxes{
  display: flex;
  flex-direction: row;
}
.checkboxes p{ flex: 1;
}
::-webkit-input-placeholder { font-size: smaller; /* Chrome/Opera/Safari */
}
::-moz-placeholder { font-size: smaller; /* Firefox 19+ */
}
:-ms-input-placeholder { font-size: smaller; /* IE 10+ */
}
:-moz-placeholder { font-size: smaller; /* Firefox 18- */
}
.prospect{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  color: #fff;
  padding: 2%;
  box-shadow: 0 0 2px #000;
}
.prospect:hover{
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.836); */
  background-color: rgba(0, 225, 0, 0.836);
  box-shadow: 0 0 10px #000;
}
.prospect:hover::after{
  content: ' \2713';
}
.selected{
  background-color: rgba(0, 225, 0, 0.836);
}
.selected:hover{
  background-color: rgba(225, 0, 0, 0.836);
}
.selected:hover::after{
  content: ' X';
}
.display-block{ display: block;
}
.display-none{ display: none;
}