.cgForm input[type=text]{
  border: 0;
  text-align: center;
  min-height: 30px;
  border-radius: 50px;
  margin: 0 5%;
  color: #fff;
  outline: none;
}
.hint{ 
  margin-left: 5px;
  transition: color 0.8s;
}
.hint:hover{ 
  opacity: 0.6;
  color: #fff;
  /* color: #00aeef; */
}
