#sprite{
  border-bottom: 1px solid #00aeef;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center center;
  background-size: 7em, contain;
  box-shadow: 0 5px 10px #000;
}
.inventory{ font-weight: bold;
}
.inventory li{
  margin: 0.5%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  transition: border 0.4s, background-color 0.4s, box-shadow 0.4s;
}
.inventory li:hover{ 
  box-shadow: 0 0 10px #fff;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.75);
}
.inventory .itemImage{
  background: no-repeat center/contain;
}

.mySlides{
  min-height: 100%;
  /* background-color: rgba(0, 0, 0, 0.089); */
  /* background-color: rgba(0, 0, 0, 0.014); */
}
.mySlides *{ display: inline-flex;
}
.mySlides .detailImg{
  min-width: 75px;
  min-height: 25px;
}
.itemName{
  background-color: rgba(255, 255, 255, 0.87);
  color: #000;
  font-weight: bold;
}
.equipped:hover{
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.equipped:hover::after{ content: ' X';
}
.unequipped:hover{
  background-color: rgba(0, 255, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
.unequipped:hover::after{ content: ' \2713';
}
@media all and (max-height: 565px){
  #sprite{ background-size: 6em, contain;
  }
}
@media all and (max-height: 480px){
  #sprite{ background-size: 5em, contain;
  }
}
@media all and (max-height: 388px){
  #sprite{ background-size: 4em, contain;
  }
}
@media all and (max-height: 320px){
  #sprite{ background-size: 3em, contain;
  }
}
@media all and (max-height: 275px){
  #sprite{ background-size: 10%, contain;
  }
}
